// Base
@import "base/variables"; // Colours
@import "base/animations";

// Components
@import "components/typography";
@import "components/witch";
@import "components/cat";
@import "components/broom";


body {
  background-color: $bgpink;
}

#container-center {
  margin: 15% 0 0 0;
  animation: shake 2s ease infinite;
}
