.witch {
  display: block;
  position: absolute;
  margin: 10% 0 0 45%;

  .body {

    .hat-container {
      position: absolute;
      left: -14px;
      top: 2px;

      .hat-circle {
        position: relative;
        width: 120px;
        height: 24px;
        background-color: $grey-dark;
        transform: rotate(45deg);
        border-radius: 100%;
        z-index: 100;
        left: 20px;
        top: 24px;
      }

      .hat-front {
        position: relative;
        width: 150px;
        height: 40px;
        background-color: $grey-light;
        transform: rotate(45deg);
        border-radius: 100%;
        z-index: 11;
      }

      .hat-triangle {
        position: relative;
        height: 0px;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 180px solid $grey-dark;
        transform: rotate(-45deg);
        z-index: 10;
        bottom: 150px;
        left: 56px;
      }

    } // end hat container

    .hair-container {
      position: absolute;
      left: 60px;

      .hair-back {
        position: relative;
        width: 0px;
        height: 0px;
        border-top: 60px solid transparent;
        border-bottom: 80px solid $brown;
        border-left: 100px solid $brown;
      }
    } // end hair

    .head {
      position: absolute;
      z-index: 8;

      .face-container {

        .eye {
          position: relative;
          width: 14px;
          height: 14px;
          background-color: $black;
          border-radius: 100%;
          top: 44px;
          left: 14px;
          z-index: 4;
        }

        .face {
          position: relative;
          width: 84px;
          height: 100px;
          background-color: $skin;
          border-radius: 100%;
          z-index: 3;
          box-shadow: inset -10px -1px $skin-shadow;
        }

        .nose {
          position: relative;
          width: 20px;
          height: 20px;
          transform: rotate(45deg);
          background-color: $skin;
          top: 40px;
          right: 2px;
        }

        .mouth {
          position: relative;
          width: 20px;
          height: 12px;
          border-radius: 15px 15px 70px 70px;
          background-color: $black;
          top: 50px;
          left: 12px;

          .tongue {
            position: relative;
            width: 14px;
            height: 6px;
            border-radius: 15px 15px 70px 70px;
            background-color: $red;
            top: 6px;
            left: 2px;
          }
        }
      } // end face container

      .neck {
        position: relative;
        width: 60px;
        height: 44px;
        background-color: $skin;
        border-radius: 20% 20%;
        transform: rotate(60deg);
        margin-left: 40%;
        z-index: 1;
        bottom: 30px;
      }
    } //end head

    .dress-sleeves {
      position: absolute;

      .sleeve-front {
        position: relative;
        width: 90px;
        height: 70px;
        border-radius: 34% 10% 10% 70%;
        transform: rotate(110deg);
        background-color: $purple-mid;
        top: 136px;
        left: 60px;
        z-index: 15;
      }

      .sleeve-back {
        position: relative;
        width: 90px;
        height: 70px;
        border-radius: 30% 10% 10% 60%;
        transform: rotate(124deg);
        background-color: $purple-vdk;
        top: 80px;
        z-index: 8;
      }
    }

    .arm-front-container {
      position: absolute;
      top: 130px;
      left: 30%;
      z-index: 10;

      .arm-front-top {
        position: relative;
        width: 40px;
        height: 170px;
        border-radius: 50% 50%;
        transform: rotate(25deg);
        background-color: $skin;
      }

      .arm-front-btm {
        position: relative;
        width: 34px;
        height: 150px;
        border-radius: 80% 50%;
        transform: rotate(60deg);
        background-color: $skin;
        bottom: 70px;
        right: 80px;
      }
    } // end arm front container

    .arm-back-container {
      position: absolute;
      top: 130px;
      left: 0%;
      z-index: 1;

      .arm-back-top{
        position: relative;
        width: 40px;
        height: 170px;
        border-radius: 50% 50%;
        transform: rotate(35deg);
        background-color: $skin-mid;
      }
      .arm-back-btm {
        position: relative;
        width: 40px;
        height: 170px;
        border-radius: 50% 50%;
        transform: rotate(70deg);
        background-color: $skin-mid;
        bottom: 100px;
        right: 94px;
      }
    } // end arm back container

    .dress-container {
      position: relative;
      z-index: 8;
      top: 154px;
      left: 10px;

      .dress-top {
        position: relative;
        width: 230px;
        height: 146px;
        border-radius: 30% 0 0 30%;
        transform: rotate(60deg);
        background-color: $purple-dark;
      }

      .dress-mid {
        position: relative;
        width: 180px;
        height: 140px;
        border-radius: 30% 24% 40% 0;
        transform: rotate(-20deg);
        background-color: $purple-dark;
        bottom: 20px;
        left: 70px;
      }

      .dress-bottom {
        position: relative;
        width: 150px;
        height: 200px;
        border-radius: 30% 0 0 30%;
        transform: rotate(-20deg);
        background-color: $purple-dark;
        bottom: 150px;
        left: 30px;
      }

      .dress-legs {
        position: relative;
        width: 240px;
        height: 120px;
        border-radius: 0 0 0 80%;
        transform: rotate(-8deg);
        background-color: $purple-dark;
        bottom: 236px;
        left: 50px;
      }
    } // end dress container

    .leg-back-container {
      position: absolute;
      left: 280px;
      bottom: 130px;

      .leg-back {
        position: relative;
        width: 100px;
        height: 40px;
        transform: rotate(-10deg);
        background-color: $skin;
      }
    } // end leg back container


  } // end body
} // end witch
