.witch {
  display: block;
  position: absolute;
  margin: 15% 0 0 45%;

  .body {

    .hat-container {
      position: absolute;
      left: -14px;
      top: 2px;

      .hat-circle {
        position: relative;
        width: 120px;
        height: 24px;
        background-color: $grey-dark;
        transform: rotate(45deg);
        border-radius: 100%;
        z-index: 100;
        left: 20px;
        top: 24px;
      }

      .hat-front {
        position: relative;
        width: 150px;
        height: 40px;
        background-color: $grey-light;
        transform: rotate(45deg);
        border-radius: 100%;
        z-index: 11;
      }

      .hat-triangle {
        position: relative;
        height: 0px;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 180px solid $grey-dark;
        transform: rotate(-45deg);
        z-index: 10;
        bottom: 150px;
        left: 56px;
      }

    } // end hat container

    .hair-container {
      position: absolute;
      left: 60px;

      .hair-back {
        position: relative;
        width: 100px;
        height: 140px;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 180px solid $brown;
      }
    } // end hair

    .head {
      z-index: 8;
      position: absolute;

      .face-container {

        .eye {
          position: relative;
          width: 14px;
          height: 14px;
          background-color: $black;
          border-radius: 100%;
          top: 44px;
          left: 14px;
          z-index: 4;

          @mixin animation ($blink) {
            // -o-animation-name: $blink;
            // -moz-animation-name: $blink;
            // -webkit-animation-name: $blink;
            // animation-name: $blink;
          }
        }

        .face {
          position: relative;
          width: 84px;
          height: 100px;
          background-color: $skin;
          border-radius: 100%;
          z-index: 3;
          box-shadow: inset -10px -1px $skin-shadow;
        }

        .nose {
          position: relative;
          width: 20px;
          height: 20px;
          transform: rotate(45deg);
          background-color: $skin;
          top: 40px;
          right: 2px;
        }

        .mouth {
          position: relative;
          width: 20px;
          height: 12px;
          border-radius: 15px 15px 70px 70px;
          background-color: $black;
          top: 50px;
          left: 12px;

          .tongue {
            position: relative;
            width: 14px;
            height: 6px;
            border-radius: 15px 15px 70px 70px;
            background-color: $red;
            top: 6px;
            left: 3px;
          }
        }
      } // end face container

      .neck {
        position: relative;
        width: 60px;
        height: 44px;
        background-color: $skin;
        border-radius: 20% 20%;
        transform: rotate(60deg);
        margin-left: 40%;
        z-index: 1;
        bottom: 30px;
      }
    } //end head

    .arm-front-container {
      position: absolute;
      top: 130px;
      left: 30%;
      z-index: 10;

      .arm-front-top {
        position: relative;
        width: 40px;
        height: 170px;
        border-radius: 50% 50%;
        transform: rotate(45deg);
        background-color: $skin;
      }
    } // end arm front container

    .dress-container {
      position: relative;
      z-index: 8;
      top: 154px;
      left: 10px;

      .dress {
        position: relative;
        width: 240px;
        height: 150px;
        border-radius: 30% 0 0 30%;
        transform: rotate(60deg);
        background-color: $purple-dark;
      }
    } // end dress container

  } // end body
} // end witch
