@keyframes blink{
  0%{transform: scaleY(0.2);}
  3%{transform: scaleY(1);}
  6%{transform: scaleY(0.1);}
  10%{transform: scaleY(1);}
}

@keyframes shake {
  0%{transform: rotate(2deg);}
  50%{transform: rotate(-2deg);}
  100%{transform: rotate(2deg);}
}
