// Backgrounds
$bgpink: #FFC6C0;

// Main
$red: #F38A8A;
$skin: #FFF1D0;
$skin-mid: #F9E8C0;
$skin-shadow: #F2E0B5;
$yellow: #E0BB73;
$purple-mid: #4D2698;
$purple-dark: #401E81;
$purple-vdk: #2A125A;
$purple-extdk: #331768;
$brown-light: #A1896F;
$brown-broom: #62431D;
$brown-highlight: #A77E4D;
$brown: #645A4C;
$brown-dk: #462D13;
$grey-light: #3F3E3E;
$grey-dark: #2F2E2E;
$black: #121212;
$white: #FFFFFF;
