// Backgrounds
$bgpink: #FFC6C0;

// Main
$red: #F38A8A;
$skin: #FFF1D0;
$skin-mid: #F9E8C0;
$skin-shadow: #F2E0B5;
$purple-mid: #5C2FB4;
$purple-dark: #401E81;
$brown: #645A4C;
$grey-light: #3F3E3E;
$grey-dark: #2F2E2E;
$black: #121212;
