.witch {
  display: block;
  position: absolute;
  margin: 14% 0 0 40%; }
  .witch .body .hat-container {
    position: absolute;
    left: -8px;
    top: -20px;
    transform: rotate(-10deg);
    z-index: 100; }
    .witch .body .hat-container .hat-circle {
      position: relative;
      width: 120px;
      height: 24px;
      background-color: #2F2E2E;
      transform: rotate(45deg);
      border-radius: 100%;
      z-index: 100;
      left: 22px;
      top: 24px; }
    .witch .body .hat-container .hat-front {
      position: relative;
      width: 150px;
      height: 40px;
      background-color: #3F3E3E;
      transform: rotate(45deg);
      border-radius: 100%;
      z-index: 11; }
    .witch .body .hat-container .hat-triangle {
      position: relative;
      height: 0px;
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-left: 180px solid #2F2E2E;
      transform: rotate(-45deg);
      z-index: 10;
      bottom: 150px;
      left: 56px; }
  .witch .body .hair-ft-container {
    position: absolute;
    z-index: 10; }
    .witch .body .hair-ft-container .hair-front {
      position: relative;
      width: 48px;
      height: 40px;
      background-color: #645A4C;
      border-radius: 90% 85% 0 0;
      right: 6px; }
    .witch .body .hair-ft-container .hair-ft-lng {
      position: relative;
      width: 30px;
      height: 100px;
      background-color: #645A4C;
      transform: rotate(-4deg);
      border-radius: 0 95% 100% 30%;
      left: 60px; }
  .witch .body .hair-bk-container {
    position: absolute; }
    .witch .body .hair-bk-container .hair-back {
      position: relative;
      width: 0px;
      height: 0px;
      border-top: 150px solid transparent;
      border-bottom: 90px solid #645A4C;
      border-left: 120px solid #645A4C;
      left: 60px; }
    .witch .body .hair-bk-container .hair-bk-fc {
      position: relative;
      width: 100px;
      height: 120px;
      background-color: #645A4C;
      transform: rotate(10deg);
      border-radius: 0 80% 100% 70%;
      bottom: 200px;
      left: 2px; }
  .witch .body .head {
    position: absolute;
    z-index: 8; }
    .witch .body .head .face-container .eye {
      position: relative;
      width: 14px;
      height: 14px;
      background-color: #121212;
      border-radius: 100%;
      top: 44px;
      left: 14px;
      z-index: 4; }
    .witch .body .head .face-container .face {
      position: relative;
      width: 84px;
      height: 100px;
      background-color: #FFF1D0;
      border-radius: 100%;
      z-index: 3;
      box-shadow: inset -10px -1px #F2E0B5; }
    .witch .body .head .face-container .nose {
      position: relative;
      width: 20px;
      height: 20px;
      transform: rotate(30deg);
      background-color: #FFF1D0;
      top: 40px;
      right: 2px; }
    .witch .body .head .face-container .mouth {
      position: relative;
      width: 20px;
      height: 12px;
      border-radius: 10px 15px 70px 70px;
      background-color: #121212;
      top: 50px;
      left: 5px;
      transform: rotate(-10deg); }
      .witch .body .head .face-container .mouth .tongue {
        position: relative;
        width: 12px;
        height: 7px;
        border-radius: 30px 15px 90px 70px;
        background-color: #F38A8A;
        top: 5px;
        left: 4px; }
    .witch .body .head .neck {
      position: relative;
      width: 60px;
      height: 44px;
      background-color: #FFF1D0;
      border-radius: 20% 20%;
      transform: rotate(60deg);
      margin-left: 40%;
      z-index: 1;
      bottom: 30px; }
  .witch .body .dress-sleeves {
    position: absolute; }
    .witch .body .dress-sleeves .sleeve-front {
      position: relative;
      width: 90px;
      height: 70px;
      border-radius: 34% 10% 10% 70%;
      transform: rotate(110deg);
      background-color: #4D2698;
      top: 136px;
      left: 60px;
      z-index: 15;
      box-shadow: inset 0px 8px #2A125A; }
    .witch .body .dress-sleeves .sleeve-back {
      position: relative;
      width: 90px;
      height: 70px;
      border-radius: 30% 10% 10% 60%;
      transform: rotate(124deg);
      background-color: #331768;
      top: 80px;
      z-index: 8; }
  .witch .body .arm-front-container {
    position: absolute;
    top: 130px;
    left: 30%;
    z-index: 10; }
    .witch .body .arm-front-container .arm-front-top {
      position: relative;
      width: 40px;
      height: 170px;
      border-radius: 50% 50%;
      transform: rotate(25deg);
      background-color: #FFF1D0;
      box-shadow: inset -6px 0px #F2E0B5; }
    .witch .body .arm-front-container .arm-front-join {
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background-color: #FFF1D0;
      bottom: 33px;
      right: 20px;
      box-shadow: inset 0px 10px #F2E0B5; }
    .witch .body .arm-front-container .arm-front-btm {
      position: relative;
      width: 34px;
      height: 160px;
      border-radius: 80% 50%;
      transform: rotate(24deg);
      background-color: #FFF1D0;
      bottom: 64px;
      right: 54px; }
    .witch .body .arm-front-container .hand-front {
      position: relative;
      width: 30px;
      height: 40px;
      border-radius: 100% 50%;
      transform: rotate(20deg);
      background-color: #FFF1D0;
      bottom: 90px;
      right: 90px; }
    .witch .body .arm-front-container .ft-fin {
      position: absolute;
      width: 6px;
      height: 30px;
      border-radius: 50% 50%;
      transform: rotate(30deg);
      background-color: #FFF1D0;
      z-index: 100;
      bottom: 86px;
      right: 132px; }
      .witch .body .arm-front-container .ft-fin .ft-fin-2 {
        position: relative;
        width: 6px;
        height: 30px;
        border-radius: 50% 50%;
        transform: rotate(-10deg);
        background-color: #FFF1D0;
        z-index: 100;
        left: 9px;
        top: 6px; }
      .witch .body .arm-front-container .ft-fin .ft-fin-3 {
        position: relative;
        width: 6px;
        height: 30px;
        border-radius: 50% 50%;
        transform: rotate(-14deg);
        background-color: #FFF1D0;
        z-index: 100;
        bottom: 26px;
        left: 17px; }
      .witch .body .arm-front-container .ft-fin .ft-fin-4 {
        position: relative;
        width: 6px;
        height: 30px;
        border-radius: 50% 50%;
        transform: rotate(-30deg);
        background-color: #FFF1D0;
        z-index: 100;
        bottom: 64px;
        left: 24px; }
  .witch .body .arm-back-container {
    position: absolute;
    top: 130px;
    left: 0%;
    z-index: 1; }
    .witch .body .arm-back-container .arm-back-top {
      position: relative;
      width: 40px;
      height: 170px;
      border-radius: 50% 50%;
      transform: rotate(35deg);
      background-color: #F9E8C0; }
    .witch .body .arm-back-container .arm-back-join {
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 70% 20% 50% 20%;
      background-color: #F9E8C0;
      bottom: 35px;
      right: 36px; }
    .witch .body .arm-back-container .arm-back-btm {
      position: relative;
      width: 30px;
      height: 170px;
      border-radius: 70% 50%;
      transform: rotate(32deg);
      background-color: #F9E8C0;
      bottom: 70px;
      right: 80px; }
    .witch .body .arm-back-container .hand-back {
      position: relative;
      width: 30px;
      height: 40px;
      border-radius: 100% 50% 50% 10%;
      transform: rotate(27deg);
      background-color: #F9E8C0;
      bottom: 100px;
      right: 130px; }
    .witch .body .arm-back-container .bk-thumb {
      position: absolute;
      width: 10px;
      height: 30px;
      border-radius: 50% 50%;
      transform: rotate(70deg);
      background-color: #F9E8C0;
      z-index: 100;
      bottom: 110px;
      right: 170px; }
    .witch .body .arm-back-container .bk-fin {
      position: absolute;
      width: 6px;
      height: 30px;
      border-radius: 50% 50%;
      transform: rotate(46deg);
      background-color: #F9E8C0;
      z-index: 100;
      bottom: 90px;
      right: 173px; }
      .witch .body .arm-back-container .bk-fin .bk-fin-2 {
        position: relative;
        width: 6px;
        height: 30px;
        border-radius: 50% 50%;
        transform: rotate(-12deg);
        background-color: #F9E8C0;
        z-index: 100;
        left: 10px;
        top: 6px; }
      .witch .body .arm-back-container .bk-fin .bk-fin-3 {
        position: relative;
        width: 6px;
        height: 30px;
        border-radius: 50% 50%;
        transform: rotate(-17deg);
        background-color: #F9E8C0;
        z-index: 100;
        bottom: 28px;
        left: 19px; }
      .witch .body .arm-back-container .bk-fin .bk-fin-4 {
        position: relative;
        width: 6px;
        height: 30px;
        border-radius: 50% 50%;
        transform: rotate(-30deg);
        background-color: #F9E8C0;
        z-index: 100;
        bottom: 68px;
        left: 26px; }
  .witch .body .dress-container {
    position: relative;
    z-index: 8;
    top: 154px;
    left: 10px; }
    .witch .body .dress-container .dress-top {
      position: relative;
      width: 230px;
      height: 146px;
      border-radius: 30% 0 0 30%;
      transform: rotate(60deg);
      background-color: #401E81;
      box-shadow: inset -1px -20px #2A125A; }
    .witch .body .dress-container .dress-mid {
      position: relative;
      width: 180px;
      height: 140px;
      border-radius: 30% 12% 40% 0;
      transform: rotate(-29deg);
      background-color: #401E81;
      box-shadow: inset -1px -20px #2A125A;
      bottom: 20px;
      left: 76px; }
    .witch .body .dress-container .dress-bottom {
      position: relative;
      width: 150px;
      height: 200px;
      border-radius: 30% 0 0 30%;
      transform: rotate(-20deg);
      background-color: #401E81;
      bottom: 150px;
      left: 30px; }
    .witch .body .dress-container .dress-legs {
      position: relative;
      width: 240px;
      height: 120px;
      border-radius: 0 5% 10% 80%;
      transform: rotate(-8deg);
      background-color: #401E81;
      bottom: 236px;
      left: 50px; }
  .witch .body .shoes {
    position: absolute;
    z-index: 110; }
    .witch .body .shoes .shoe-top {
      position: relative;
      width: 90px;
      height: 50px;
      background-color: #2F2E2E;
      border-radius: 0 50% 10% 0;
      transform: rotate(-7deg);
      left: 340px;
      bottom: 192px; }
    .witch .body .shoes .shoe-top-ft {
      position: relative;
      width: 0px;
      height: 0px;
      border-radius: 0 0 90% 0;
      border-top: 134px solid #2F2E2E;
      border-bottom: 70px solid transparent;
      border-left: 70px solid transparent;
      bottom: 247px;
      left: 390px;
      transform: rotate(-8deg); }
  .witch .body .legs {
    position: absolute;
    left: 280px;
    bottom: 104px; }
    .witch .body .legs .leg-front {
      position: relative;
      width: 130px;
      height: 44px;
      border-radius: 0 90% 15% 0;
      transform: rotate(-10deg);
      background-color: #FFF1D0;
      z-index: 5; }
    .witch .body .legs .leg-back {
      position: relative;
      width: 130px;
      height: 40px;
      border-radius: 0 90% 15% 0;
      transform: rotate(-20deg);
      background-color: #F2E0B5;
      bottom: 70px; }
  .witch .body .broom-container {
    position: absolute;
    z-index: 1; }
    .witch .body .broom-container .broom-handle {
      display: inline-block;
      position: relative;
      width: 850px;
      height: 30px;
      background-color: #62431D;
      transform: rotate(2deg);
      border-radius: 10% 30% 30% 10%;
      bottom: 184px;
      left: -300px;
      box-shadow: inset 0px -8px #462D13; }
    .witch .body .broom-container .broom-fire {
      position: absolute;
      width: 150px;
      height: 8px;
      background-color: #121212;
      z-index: 100;
      bottom: 300px;
      left: 530px;
      border-radius: 50% 50%;
      transform: rotate(2deg); }
    .witch .body .broom-container .broom-brush-base {
      display: absolute; }
      .witch .body .broom-container .broom-brush-base .broom-brush {
        display: inline-block;
        position: relative;
        width: 200px;
        height: 120px;
        background-color: #E0BB73;
        bottom: 240px;
        left: 500px;
        transform: rotate(2deg);
        border-radius: 100%; }
      .witch .body .broom-container .broom-brush-base .broom-brush-bk {
        display: inline-block;
        position: relative;
        width: 0px;
        height: 0px;
        border-top: 52px solid transparent;
        border-bottom: 52px solid transparent;
        border-left: 100px solid #E0BB73;
        bottom: 244px;
        left: 448px;
        transform: rotate(2deg); }

body {
  background-color: #FFC6C0; }

/*# sourceMappingURL=style.css.map */
